* {
    background-color:rgb(121, 118, 184);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(90, 91, 156);
    display: flex;
    margin-top: 0px;
    .buttons {
        /* display: flex; */
        background-color: rgb(90, 91, 156);
        margin-top: 20px;
        /* margin-left: 5px; */
        
        button, h2, b {
            font-size: 20;
            display: inline;
            padding: 0px;
            margin-top: 10px;
            /* margin-right: 30px;
            padding-left: 30px;
            padding-top: 10px; */
            
            /* gap: 30px; */
            background-color: rgb(90, 91, 156);
            border: 0px;
            /* border-bottom: 1px solid white; */
            /* padding: 0px; */
            
        }
        button:hover b{
            opacity: 0.4;
        }
    }
}

.content {
    text-align: center;
    margin-top: 10px;
    border: 1px solid rgb(90, 91, 156);
    button{
        border: 1px solid white;
        background-color: rgb(90, 91, 156);
    }
    button:hover{
            opacity: 0.4;
        }
    /* h1 {
        text-align: center;
    } */
    
}

.notes {
    margin-top: -5px;
    border: 1px solid rgb(90, 91, 156);
    padding: 10px;

}

.control{
    input[type='range']{
        accent-color: rgb(90, 91, 156);
    }
}